body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  background-color: #A8E4A0;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 1rem;
  margin-left: 10px;
  height: 100%;

}

.save {
  background-color: #e1e1e1;
  border: none; 
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

.homeLink {
  padding-bottom: 5px;
}